[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.allowed_ips }}
DNS = {{ wireguard_dns }}
MTU = {{ item.wireguard_mtu | default(wireguard_mtu | default(1360)) }}

[Peer]
PublicKey = {{ wg_server_public_key.stdout | trim }}
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
AllowedIPs = {{ vpc_cidr }}, 10.193.0.0/24, fd10:193::/64
PersistentKeepalive = 25
